name: RiMovie

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: Run List Simulator
      run: xcrun simctl list
    - name: Install SwiftLint
      uses: actions/checkout@v2
      with:
        script: install_swiftlint.sh
    - name: Run SwiftLint
      uses: actions/checkout@v2
      with:
        script: lint.sh
    - name: Build iOS App
      run: xcodebuild -project RiMovie.xcodeproj -scheme "RiMovie (iOS)" -destination "platform=iOS Simulator,name=iPhone 11 Pro"
    - name: Build AppClip
      run: xcodebuild -project RiMovie.xcodeproj -scheme RiMovieAppClip -destination "platform=iOS Simulator,name=iPhone 11 Pro"
    - name: Build Widget iOS
      run: xcodebuild -project RiMovie.xcodeproj -scheme RiMovieWidgetExtension -destination "platform=iOS Simulator,name=iPhone 11 Pro"
